*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.container-fluid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.heading{
  background-color: #12A2EF;
  min-height: 100vh;
}